html {
    background-image: url(pexels-eberhard-grossgasteiger-2310713.jpg);
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 254, 240);
    margin: auto;
}

.headings, .quotes {
    background-color: rgba(239, 176, 211, 0.667);
    text-align: center;
}

.headings {
    font-size: 16px;
    font-style: italic;
    border-radius: 10px;
}

.quotes {
    font-size: 40px;
    border-radius: 10px;
}

.author {
    font-size: 20px;
    font-style: italic;
}

button {
    text-align: center;
    background-color: #e793ba;
    border-radius: 100px;
    box-shadow: rgba(193, 69, 139, 0.2) 0 -25px 18px -14px inset,rgba(193, 69, 139, .15) 0 1px 2px,rgba(193, 69, 139, .15) 0 2px 4px,rgba(193, 69, 139, .15) 0 4px 8px,rgba(193, 69, 139, .15) 0 8px 16px,rgba(193, 69, 139, .15) 0 16px 32px;
    color: rgb(255, 254, 240);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



button:hover {
  box-shadow: rgba(193, 69, 139,.35) 0 -25px 18px -14px inset,rgba(193, 69, 139,.25) 0 1px 2px,rgba(193, 69, 139,.25) 0 2px 4px,rgba(193, 69, 139,.25) 0 4px 8px,rgba(193, 69, 139,.25) 0 8px 16px,rgba(193, 69, 139,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}